###########################################################
#                                                         #
#  Edit the following configuration to suits your needs.  #
#                                                         #
###########################################################

# Environment to use within the application.
#
# The environment is used to load the proper settings for your application
# instance. There is two ways for defining it, with the following precedence:
#  - DJANGO_SETTINGS_MODULE: the Python path to the settings module to use. It
#      allows you to define and use your own settings module. Use it with care!
#      Note: the module name will be used as the environment.
#  - ENV: the environment to use, which is one of 'production' or 'development'.
#
# Default is the 'production' environment.
ENV=production
#ENV=development

# The secret key used to provide cryptographic signing.
#
# It should be set to a unique, unpredictable value. On a GNU/Linux system, you
# could generate a new one with:
#
#     $ head -c50 /dev/urandom | base64
#
# /!\ Required in production.
DJANGO_SECRET_KEY=__KEY__

# The base URL on which the application is served without trailing slash.
#
# It is typically used for generating URLs to include in notification emails.
#
# /!\ Required in production.
BASE_URL=https://__DOMAIN__

# A coma-separated string representing the host/domain names that this
# application instance can serve.
#
# /!\ Required in production.
DJANGO_ALLOWED_HOSTS=__DOMAIN__,

# Database configuration, as an URI.
#
# In production, the recommended database backend for better performances is
# PostgreSQL - or MySQL if you prefer.
#
# Default is a SQLite database in development only.
#
# /!\ Required in production.
DJANGO_DATABASE_URL=postgres://__DB_USER__:__DB_PWD__@127.0.0.1:5432/__DB_NAME__
#DJANGO_DATABASE_URL=mysql://user:password@127.0.0.1:3306/benevalibre

# Email configuration for sending messages, as an URI.
#
# In production, you should either use a local SMTP server or a relay one. The
# URI will be in that case of the form:
#
#     PROTOCOL://[USER:PASSWORD@]HOST[:PORT]
#
# PROTOCOL can be smtp, smtp+ssl or smtp+tls. Note that special characters
# in USER and PASSWORD - e.g. @ - must be escaped. It can be achieve with:
#
#     $ python3 -c 'from urllib.parse import quote as q;print(q("USER")+":"+q("PASSWORD"))'
#
# Default is the local SMTP server in production and the console in development.
#DJANGO_EMAIL_URL=smtp://localhost:25

# Default email address to use for various automated correspondence.
#
# /!\ Required in production.
DEFAULT_FROM_EMAIL=webmaster@__DOMAIN__

# A comma separated list of all the people who get production error
# notifications, in rfc2822 format
#ADMINS=root@localhost

# Value of the SameSite flag on the session cookie.
#
# The default value will mainly prevent CSRF attacks. Thus it should not be
# changed unless you have a good reason.
#COOKIE_SAMESITE=Lax

# Whether registration by users of new associations is currently permitted.
#
# Default is on.
#ASSOCIATION_REGISTRATION_OPEN=on

# Whether newly registered associations must be approved and enabled by
# administrators.
#
# Default is off.
#ASSOCIATION_REGISTRATION_MODERATED=off

# Upstream source for new release checking
#UPSTREAM_RELEASES=https://forge.cliss21.org/api/v1/repos/cliss21/benevalibre/tags

# Base directory of the app instance, where the local and var folders are
# located.
#
# Default is the current directory.
#BASE_DIR=

# Turn on/off debug mode.
#
# Note that it's always disabled in production.
#DJANGO_DEBUG=off
#DJANGO_DEBUG_TOOLBAR=on
